@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");




.navbar a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin: auto;
  text-decoration: none;
  padding: 15px;
  position: relative;
  left: -1970px;
  padding: 2200px 011px;
  justify-content: space-between;

  /* position: relative; */
  /* right: -630px; */
  /* margin-left: 16px; */
  /* padding-right: 500px; */
  /* background-color: rgb(255, 196, 0); */
}


.navbar {
  display: flex;
  align-items: center;
  /* border: 10px solid rgb(255, 255, 255); */
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  height: 170px;
  /* max-height: max-content; */

  /* position: relative;
  left: 50px; */


  background-color: rgb(0, 0, 0);
  z-index: 300;

  /* color: rgb(255, 255, 255); */
  /* width: 100%; out*/
  /* background-color: rgb(255, 0, 200); */
  /* padding: 30px; */
  /* position: fixed; */
  /* width: 100vh; out*/

  /* color: rgb(255, 255, 255); */


}

h1 {

  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  position: relative;
  left: 1000px;
  text-transform: uppercase;
  /* right: -1950px; */
  margin: auto;
  color: rgb(255, 255, 255);
}



.h1 .navbar {
  display: inline-block;
}

.Bio {

  width: 700px;
  /* border: 15px solid green; */
  /* padding: 50px; */
  margin: auto;
  /* background-color: rgb(23, 65, 23);
  color: white; */
  color: rgb(0, 0, 0);
  /* position: relative;
  left: 1000px; */
  /* font-family: 'Oswald', sans-serif; */
}

img {
  max-width: 40%;
  max-height: auto;

  /* position: relative;
  left: 800px; */
  /* object-fit: contain; */
}



.Portfolio {
  margin: auto;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  /* font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase; */

}

/* .Bio, */
/* .Journey, */
/* .Portfolio, */
.Contact {
  margin: auto;
  /* margin-top: -700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}


.sticky {
  position: sticky;
  top: 0;
}


body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  /* width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; */

}


.Journey {
  margin: auto;
  color: #333;
  /* font-family: 'Oswald', sans-serif; */
}

.Journey h2 {
  /* font-size: 50px; */
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  position: relative;
  left: 220px;
  z-index: 400;
}


.Journey h2:hover {
  color: white;
  background-color: black;


}

.Bio h2 {
  /* font-size: 50px; */
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  position: relative;
  left: -710px;
  z-index: 300;
  /* float: left; */
  /* padding-left: 100px; */
}


.Bio h2:hover {
  color: white;
  background-color: black;
  background-position: xpox ypos;

}

.Portfolio h2 {
  /* font-size: 50px; */
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  position: relative;
  left: 300px;
  z-index: 400;
}

.Portfolio h2:hover {
  color: white;
  background-color: black;


}

.Contact h2 {
  /* font-size: 50px; */
  color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  position: relative;
  left: -700px;
}

/* 
.Contact h2:hover {
  color: white;
  background-color: black;

} */

h2.vertical-timeline-element-title {
  font-family: 'Oswald', sans-serif;

  /* font-family: 'Inter', sans-serif; */
  /* font-weight: bolder; */
  color: rgb(0, 0, 0);
}

h4.vertical-timeline-element-title {
  font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 0);
}

h4.vertical-timeline-element-subtitle {
  font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
}