@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=QOpen+Sans:wght@300;400&family=Bebas+Neue&display=swap'); */


/* base styles */
* {
  color: #333;
}


.navbar {
  display: flex;
  align-items: center;
  /* width: 100vh; out*/
  max-height: max-content;
  /* padding: 30px; */
  position: fixed;
  /* background-color: rgb(255, 0, 200); */
  background-color: rgb(255, 255, 255);
  z-index: 300;
  /* width: 100%; out*/
  border: 10px solid rgb(255, 255, 255);

}

h1 {
  font-family: 'Thasadith', sans-serif;
  font-size: 65px;
  /* background-color: rgb(0, 81, 255); */
  position: relative;
  left: 350px;
  color: rgb(43, 88, 51);
}

.navbar a {
  position: relative;
  right: -630px;
  /* margin-left: 16px; */
  text-decoration: none;
  padding: 15px;
  /* background-color: rgb(255, 196, 0); */
}

.Bio {

  width: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  /* background-color: rgb(23, 65, 23);
  color: white; */
}

/* .Bio, */
.Journey,
.Portfolio,
.Contact {
  width: 60%;
  min-height: max-content;
  margin: 100px;
  /* border: rgb(108, 108, 108); */
  /* background-color: rgb(0, 255, 76); */
  /* text-align: center; */
  /* align-items: center; */
  margin-left: 300px;
}


.sticky {
  position: sticky;
  top: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

/* h3{

} */
/* h3.vertical-timeline-element-title {
  font-family: 'Inter', sans-serif;
} */

.Journey .journeyTitle {
  font-size: 50px;
}

h2.vertical-timeline-element-title {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
}

h4.vertical-timeline-element-title {
  font-family: 'Inter', sans-serif;
}

h4.vertical-timeline-element-subtitle {
  font-family: 'Inter', sans-serif;
}

/*
p.vertical-timeline-element-title {
  font-family: 'Inter', sans-serif;
}

h4.sub {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
} */





/* @media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  } */