@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

/* base styles */
* {

  color: #333;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100vh;
  max-height: max-content;
  padding: 30px;
  position: fixed;
  background-color: rgb(255, 0, 200);
  z-index: 300;
  width: 100%;


}

h1 {
  font-family: 'Thasadith', sans-serif;
  font-size: 65px;
  background-color: rgb(0, 81, 255);
  position: relative;
  left: 900px;
}



.Home,
.Portfolio,
.Contact {
  min-height: 60vh;
  margin: 300px;
  background-color: rgb(0, 255, 76);

  margin-left: 300px;

}

.sticky {
  position: sticky;
  top: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px
}